section,div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.minha-tabela {
	border-collapse: collapse;
	margin-top: 20px;
	font-size: 16px;
  }
  
  .minha-tabela th,
  .minha-tabela td {
	padding: 10px;
	text-align: center;
  }
  
  .minha-tabela th {
	background-color: #ccc;
  }
  
  .minha-tabela td {
	border: 1px solid #ccc;
  }
  
  .centralizar {
	text-align: center;
  }
  
  .minha-tabela tr:nth-child(even) {
	background-color: #f2f2f2;
  }
  
  .minha-tabela tr:hover {
	background-color: #ddd;
  }
  